In [4]:
from tsfresh import extract_features
from tsfresh.feature_extraction import MinimalFCParameters
from tsfresh.utilities.dataframe_functions import roll_time_series
from tsfresh.utilities.distribution import ClusterDaskDistributor
import pandas as pd
from scipy.io import loadmat
import numpy as np
import os
os.environ['OMP_NUM_THREADS'] = "1"
os.environ['MKL_NUM_THREADS'] = "1"
os.environ['OPENBLAS_NUM_THREADS'] = "1"

In [57]:
B07 = loadmat('historic-12k-Drive-End-Bearing-Fault-Data/load-hp-3-rpm-1730/historic_B007_3.mat')
normal = loadmat('normal-baseline-data/load-hp-0-rpm-1797/97.mat')

In [62]:
# de_some = list(B07.values())[3]
# de_some
de_some2 = list(normal.values())[3]
x = int(len(de_some2)/1000)
1000%x

28

In [9]:
de_B07 = np.array(B07['X121_DE_time'])
#de_IR7 = np.array(IR7['X108_DE_time'])

In [44]:
a=1
alist = []
for i in range(1000):
    for j in range(100):
        alist.append(i+1)
    a += 1
my_arr = np.array(alist, dtype=int)

In [11]:
df1 = pd.DataFrame({'sensor_data': de_B07.flatten()})
df1['id'], df1['time'], df1['y'] = [my_arr, df1.index, True]
# df2 = pd.DataFrame({'sensor_data': de_IR7.flatten()})
# df2['id'], df2['time'], df2['y'] = [my_arr, df2.index, False]
# my_df = df1._append(df2)
# my_df['time'] = np.arange(1, len(my_df) + 1)

In [16]:
df_rolled = roll_time_series(df1, column_id='id', min_timeshift=10, max_timeshift=80)

Rolling: 100%|██████████| 20/20 [00:30<00:00,  1.51s/it]

In [40]:
df_rolled

         sensor_data          id   time     y   sort
0           0.090314     (1, 10)      0  True      0
1           0.224973     (1, 10)      1  True      1
2          -0.108832     (1, 10)      2  True      2
3          -0.185338     (1, 10)      3  True      3
4           0.047918     (1, 10)      4  True      4
...              ...         ...    ...   ...    ...
4804995    -0.129786  (1000, 99)  99995  True  99995
4804996     0.156425  (1000, 99)  99996  True  99996
4804997     0.152527  (1000, 99)  99997  True  99997
4804998    -0.183227  (1000, 99)  99998  True  99998
4804999    -0.143755  (1000, 99)  99999  True  99999

[4805000 rows x 5 columns]

In [17]:
feat = extract_features(df_rolled, column_id='id', column_sort='sort', column_value='sensor_data', default_fc_parameters=MinimalFCParameters())

Feature Extraction: 100%|██████████| 20/20 [00:51<00:00,  2.58s/it]

In [18]:
feat

         sensor_data__sum_values  sensor_data__median  sensor_data__mean  \
1    10                 0.135146             0.022254           0.012286
     11                 0.222211             0.031269           0.018518
     12                 0.245602             0.023391           0.018892
     13                 0.056040             0.022822           0.004003
     14                -0.008771             0.022254          -0.000585
...                          ...                  ...                ...
1000 95                 0.544483             0.020142           0.006722
     96                 0.420545             0.020142           0.005192
     97                 0.358657             0.020142           0.004428
     98                 0.280038             0.020142           0.003457
     99                 0.162273             0.020142           0.002003

         sensor_data__length  sensor_data__standard_deviation  \
1    10                 11.0                         0.105679
     11                 12.0                         0.103270
     12                 13.0                         0.099227
     13                 14.0                         0.109657
     14                 15.0                         0.107321
...                      ...                              ...
1000 95                 81.0                         0.132993
     96                 81.0                         0.130526
     97                 81.0                         0.129476
     98                 81.0                         0.130580
     99                 81.0                         0.131552

         sensor_data__variance  sensor_data__root_mean_square  \
1    10               0.011168                       0.106391
     11               0.010665                       0.104917
     12               0.009846                       0.101009
     13               0.012025                       0.109731
     14               0.011518                       0.107322
...                        ...                            ...
1000 95               0.017687                       0.133163
     96               0.017037                       0.130629
     97               0.016764                       0.129552
     98               0.017051                       0.130626
     99               0.017306                       0.131567

         sensor_data__maximum  sensor_data__absolute_maximum  \
1    10              0.224973                       0.224973
     11              0.224973                       0.224973
     12              0.224973                       0.224973
     13              0.224973                       0.224973
     14              0.224973                       0.224973
...                       ...                            ...
1000 95              0.307002                       0.311875
     96              0.307002                       0.311875
     97              0.307002                       0.311875
     98              0.307002                       0.311875
     99              0.307002                       0.311875

         sensor_data__minimum
1    10             -0.185338
     11             -0.185338
     12             -0.185338
     13             -0.189562
     14             -0.189562
...                       ...
1000 95             -0.311875
     96             -0.311875
     97             -0.311875
     98             -0.311875
     99             -0.311875

[90000 rows x 10 columns]